/* 语料采集 */
h1,h2,h3,h4,h5,ul,li,p{margin: 0;list-style: none;padding: 0;}
body{border: 0;background: #ffac75;}
.form-horizontal .form-group{margin:0 0 15px;}
textarea.form-control{height:34px;}
.error{color:red;}
.btn-task{width:75%;min-height: 45px;margin-top:15px;font-size: 20px}
.form-horizontal .control-label{padding-top:10px;}
.dis{display: none}
.modal-footer{border: 0;text-align: center;}
.modal-body{text-align: center;}
.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:active{background: #ff775e;border-color: #ff775e}
.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.dropdown-toggle.btn-primary.focus,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover{background: #c90a2f;border-color: #c90a2f}
a,a:focus, a:hover{color:#333;}
.col-xs-4,.col-xs-9,.col-xs-1,.col-xs-2,.col-xs-6,.col-xs-3{padding:0;}

.container-fluid{margin-top: 10px}
.reg h3{color: #e5133b;line-height: 35px;text-align: center;font-size: 16px}
.reg .header{background: #fff}
.reg .reg-step{padding:10px;margin-bottom: 10px;}
.reg .reg-step li{margin:10px 0;position: relative;}
.reg .reg-step li p{color:#ccc;margin:10px 0;}
.reg .reg-step li b{position: absolute;right: 0;top: 0}
.reg .reg-step li h4{font-size: 16px;font-weight: normal;}
.reg .success .succ{background: url(../img/succ.jpg) no-repeat center 0;height: 50px;margin-top: 10px}
.reg .success p{text-align: center;font-size: 18px;padding: 20px 0}
.reg .detail .col-xs-5{text-align: left;line-height: 40px;padding:0;}
.reg .detail .col-xs-7{text-align: right;color:#999;line-height: 40px;padding:0}
.reg .detail .form-group{border-bottom: 1px solid #ccc;min-height: 40px;margin-bottom: 0}
.reg .box{margin:5px -5px;padding:5px;background: #fff;border:1px solid #ccc;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
.reg .box .col-xs-2{text-align: left;padding:0;}
.reg .box .col-xs-6{padding:0 5px;}
.reg .box .fee span,.reg .box .income{color:red;}
.reg .box .date,.reg .box .note{font-size: 11px;color:#aaa;}
.reg .box .col-xs-4{text-align: right;padding:0;}
.reg .box p{margin:5px 0;}
.reg .box .pay{color:green;}
.reg .arw{top:14px;}
.flow p{margin:10px 0;}
.collection .header{color:#e5133b;text-align: center;line-height: 30px;}
.collection .header .money{margin-top:20px;}
.collection .header .money .left{border-right:1px solid #000;text-align: left}
.collection .list .row{margin:0 0 10px;border-bottom: 1px solid #aaa;padding-bottom:5px;}
.collection .list .col-xs-2{padding:0;text-align: left}
.collection .list .col-xs-4{padding:5px 5px 0;font-size: 16px}
.collection .list .col-xs-6{padding-top:10px;text-align: right}
.collection .list .col-xs-6 span{color:#aaa;}

/*商家信息*/
.cust,.flow,.pay,.audit{background: #fff}
/*结算帐户*/
.pay .box {background: #f5f5f5}
.pay .box .col-xs-2{padding:0;}
.pay .box .info{text-align: right}
.pay .box .info span{float:left;}
.pay .box .col-xs-1{text-align: right;padding:0;}
.pay .box .col-xs-9{padding:0;}
.pay .box .card{text-align: right;font-size: 20px;font-weight: bold}
.pay .modi .row{border-bottom: 1px solid #aaa;margin:20px 0;text-align: right}
.pay .modi .row span{float:left;}
.pay .modi .row b{font-weight: normal;color:#aaa;}
/*资质认证*/
.note{color:red;padding:0;}
.audit .info{text-align: center;font-weight: bold;font-size: 18px;margin-top: 50px}
.audit .header{padding:0;}
.audit .upload{border:1px solid #ccc;background: #f5f5f5;margin:5px 0;}
.audit .upload .row{border:0;}
.audit input[type=file] {display: none}
.audit .nopass{padding:10px;}
.audit .upload  .col-xs-6{text-align: center;}
.audit .upload .tit{line-height: 30px;margin:5px;position: relative;}
.audit .upload .tit span{position: absolute;right: 0;top: -10px;cursor: pointer;}
.audit .upload .upload-img{border:1px dashed #ccc;font-size: 4em;color:#ccc;cursor:pointer;text-align: center;width:90%;height: 88px;margin:0 auto;line-height: 70px;cursor: pointer;}
.audit .upload .row .box{position: relative;margin:0 auto;}
.audit .upload  b{cursor:pointer;position: absolute;right: 0;top: 0;text-align: center;color: #fff;background: #000;opacity:0.6; -moz-opacity:0.6;padding:0 5px;cursor: pointer;}
/*扫码支付*/
.scan-pay .money{text-align: center;margin-top: 10px}
.scan-pay .num{margin-top: 10px}
.scan-pay .bank{background: #fff;margin:20px 0;line-height: 30px}
.scan-pay .bank .rt{text-align: right}
.detail{margin:0;}
.scan-code .store{text-align: center;}
.scan-code .ipt{border-bottom:1px solid #ccc;margin:10px 0;font-size: 18px;padding-bottom: 10px}
.scan-code .result{color:#999;}
.scan-code .row{margin:0;text-align: center;background: #f5f5f5;border-left:1px solid #ccc;font-size: 23px;}
.scan-code .row .col-xs-3,.scan-code .row .col-xs-4{border-top:1px solid #ccc;border-right:1px solid #ccc;cursor: pointer;line-height: 60px}
.scan-code .row .col-xs-3:hover,.scan-code .row .col-xs-4:hover{background: #ccc;}
.scan-code .bt{border-bottom: 1px solid #ccc}
.scan-code .bt .pay-btn{line-height: 120px;background: #ff775e;color:#fff;font-size: 26px}
.scan-code .bt .pay-btn:hover{background:red;}






